.Topbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: -30px;
    z-index: 4;
    background-color: rgb(250, 250, 250);
    .topbarwraper{
        width: 100%;
        background-color: rgb(94, 209, 175);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        box-shadow: 3px 0px 15px 1px #d6d6d6;
        z-index: 5;
        
        .topbar{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            // padding: 2px;
            .topbarLeft{
                display: flex;
                align-items: center;
                .topbarList{
                    display: flex;
                    align-items: center;
                    list-style: none;
                    padding: 0;
                    margin: 0;
                    .topbarListItems{
                        margin: 0px 10px;
                        font-size: 0.9rem;
                        font-weight: 500;
                        cursor: pointer;
                        display: flex;
                        align-items: center;

                    }
                    .topbarListItems:hover{
                        color: rgb(80, 80, 80);
                    }
                }
            }
            .topbarRight{
                .topbarRightIcons{
                    margin: 0px 5px;
                }
            }
        }
    }
    .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        height: 50px;
        // position: sticky;
        // top: 0;
        // z-index: 4;

        .headerRight{
            font-size: 24px;
            font-weight: 600;
            margin: 0px 10px;
        }
        .headerLeft{
            .headerList{
                display: flex;
                align-items: center;
                list-style: none;
                padding: 0;
                margin: 0;

                .headerListItems{
                    margin: 0px 10px;
                    font-size: 1rem;
                    font-weight: 500;
                    cursor: pointer;
                }
                .headerListItems{
                    color: rgb(80, 80, 80);
                }
            }
        }
    }
}